html {
  color: var(--text-color);
  background-color: var(--bg-primary);
}
body {
  font-family: var(--font-primary);
}
.wrapper {
  width: 100%;
}
.container {
  max-width: 1264px;
  margin: 0 auto;
}
.router-link-active {
  color: var(--link-color) !important;
  font-weight: 700;
}
.carousel__icon {
  color: var(--text-color) !important;
}
.multiline-ellipsis-1 {
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}
.multiline-ellipsis-2 {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}
.multiline-ellipsis-3 {
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}
.multiline-ellipsis-4 {
  -webkit-line-clamp: 4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}
