.light {
  --text-color: #333;
  --bg-primary: #f8fafc;
  --bg-secondary: #f1f5f9;
  --border-color: #475569;
  --blur-color: rgb(15, 23, 42, 0.2);
  --filter-inverted: invert(0%);
  --shadow-box: 1px 0 10px 1px var(--blur-color);
}
.dark {
  --text-color: #f8fafc;
  --bg-primary: #0f172a;
  --bg-secondary: #030712;
  --border-color: #cbd5e1;
  --blur-color: rgb(2, 6, 23, 0.3);
  --filter-inverted: invert(100%);
  --shadow-box: 1px 0 10px 1px var(--blur-color);
}
:root {
  --success-color: #4ade80;
  --link-color: #34d399;
  --warning-color: #f59e0b;
  --error-color: #dc2626;
  --infor-color: #38bdf8;
  --border-radius: 3px;
  --font-primary: "Open Sans", sans-serif;
  --font-mono: "Inconsolata", monospace;
}
